.dasboardMyCategories {
    margin-bottom: 50px;
}

@media (max-width: 991px) {
    .myCategoriesItem {
        margin-right: 0;
    }

    .dasboardMyCategories {
        flex-direction: column !important;
        align-items: center !important;
    }
}