/*List*/
.myCategoriesItem {
    width: 346px;
    height: 234px;
    border-radius: 12px;
    background: #fff;
    margin-right: 22px;
    margin-bottom: 22px;
    cursor: pointer;
}

.myCategoriesTitle {
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    color: #707070;
    margin-left: 15px;
}

.myCategoriesDate {
    width: 166px;
    height: 18px;
    font-weight: normal;
    font-size: 15px;
    text-align: left;
    color: #bebebe;
}

.myCategoriesDescritpion {
    width: 293px;
    height: 125px;
    font-weight: normal;
    font-size: 15px;
    text-align: left;
    color: #707070;
    padding-top: 10px;
}

.myCategories {
    margin-bottom: 50px;
}

.addCategoriesItem {
    width: 346px;
    height: 234px;
    border-radius: 12px;
    background: #fff;
    margin-right: 22px;
    margin-bottom: 22px;
    text-align: center;
}

.addCategoriesItem:hover {
    cursor: pointer;
}

.addListsImg {
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
}

@media (max-width: 991px) {
    .myCategoriesItem {
        margin-right: 0;
    }

    .addCategoriesItem {
        margin-right: 0;
    }

    .myCategories {
        flex-direction: column !important;
        align-items: center !important;
    }
}

/*End lists*/


/*Add List btn animation*/
.addListsImg:hover {
    animation: spin .5s ease-in-out;
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}